@model IEnumerable<CaseStudyMVC.Models.ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Product Store</h1>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="@Url.Action("ProductDetail", new { productId = product.Id })" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>
